@import "./variables.module.scss";

.home{
    display: flex;
    padding-left: 7%;

    @media (max-width: 600px) {
        padding-left: 0;
        
        display: flex;
        flex-direction: column;
        overflow: hidden;
       }
}

.left{
    min-height: 100vh;
    width: 50vw;
    background-color: $color-Dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
        width: 100vw;
        min-height: 70vh;
        justify-content: center;
        align-items: flex-start;
       }
    

    section{
        display: flex;
        flex-direction: column;
        padding: 2rem;

        p{
            color: white;
            font-weight: 400;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            padding-top: 2rem;
        }

        .heroButtons{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin-top: 1rem;

            @media (max-width: 600px) {
               flex-direction: column;
               margin-top: 2rem;
            }

            button{

                @media (max-width: 600px) {
                    width: 100%;
                 }
            }

        }

        
    }
}

.right{
    min-height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-yellow;

    @media (max-width: 600px) {
        width: 100vw;
        min-height: 30vh;
        justify-content: flex-end;
        align-items: flex-end;
       }
    

    .bg{
        
        height: 100%;
        width: 100%;
        background-image: url("../../public/bg.png");
        background-position: center;
        background-size: cover;
    }

    section{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        img{
            max-width: 40%;
            height: auto;
        }
       
    }
}