@import "./variables.module.scss";

.footer{
    padding-left: 7%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $color-yellow;
    height: 10vh;
    display: flex;
    justify-content: center;

    @media (max-width: 600px) {
        padding-left: 0;
        flex-direction: column;
        align-items: center;
       }

    p{
        @media (max-width: 600px) {
            font-size: 0.8rem;
           }
    }
}