@import "../styles/variables.module.scss";


.aboutContainer{
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, $color-Dark 50%, $color-yellow 50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 6rem;
    padding-bottom: 10rem;


    @media (max-width: 850px) {
        width: 100vw;
        background: linear-gradient(to right, $color-yellow 100%, $color-yellow 0%);
        justify-content: center;
        align-items: flex-start;
       }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .headerContainer{
            width: 100%;
            overflow: hidden;
            h1{
                width: 50%;
                text-align: center;
                
                @media (max-width: 850px) {
                    width: 100%;
                    color: $color-Dark;
                    font-size: 4rem;
                   }
            }
            margin-bottom: 5rem;
        }
        .infoWrapper{
            width: 50%;
            border: 0.5rem solid $color-yellow;
            border-radius: 1rem;
            box-shadow: 14px 14px 40px 0 rgba(0,0,0,0.4);
            

            @media (max-width: 850px) {
                width: 100%;
               }

            .info{
                background-color: $color-Dark;
                border-radius: 1rem;
                padding: 3rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                @media (max-width: 850px) {
                    flex-direction: column;
                   }

                p{
                    color: white;
                    font-size: clamp(1rem, 1vw, 1.5rem);
                    width: 60%;

                    @media (max-width: 850px) {
                        width: 100%;
                       }
                }

                .memoji{
                    display: flex;
                    justify-content: center;

                    @media (max-width: 850px) {
                        margin-bottom: -3rem;
                       }
                    
                    img{
                        width: 220px;
                        height: auto;
                    }
                }
            }
        }

    }

   
}

