@import "./variables.module.scss";

.loading{
    min-height: 100vh;
    width: 100vw;
    background-color: $color-yellow;
    position: fixed;
    z-index: 99999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        height: 5rem;
        width: auto;
    }

    .shadow{
        margin-top: 1.5rem;
        height: 0.5rem;
        width: 4.5rem;
        background-color: $color-Dark;
        filter: blur(10px);
    }
}

.hidden{
    display: none;
}