@import "./variables.module.scss";

.projects{
    min-height: 100vh;
    width: 100vw;
    padding-top: 6rem;
    padding-bottom: 10rem;
 
    background: linear-gradient(to right, $color-Dark 50%, $color-yellow 50%);
    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
        background: linear-gradient(to right, $color-Dark 100%, $color-yellow 0%);
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
       }

    h1{
        color: white;
        width: 50%;
        text-align: center;
        margin-bottom: 5rem;

        @media (max-width: 600px) {
            width: 100%;
            font-size: 3rem;
           }
    }

    .projectContainer{
        display: flex;
        flex-direction: row;
        margin-bottom: 10rem;

        @media (max-width: 600px) {
            flex-direction: column;
           }

        .projectInfo{
            display: flex;
            flex-direction: row;
            width: 50%;

            @media (max-width: 600px) {
                width: 100%;
               }
    
            .sideBar{
                margin-right: 3rem;
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (max-width: 600px) {
                    margin-left: 1rem;
                    margin-right: 1rem;
                   }
    
                h1{
                    font-size: 3rem;
                }
            }
    
            .content{

                @media (max-width: 600px) {
                    margin-right: 2rem;
                   }

                h1{
                    width: 100%;
                    margin-bottom: 2rem;
                    font-size: 3rem;
                    text-align: start;

                    @media (max-width: 600px) {
                        text-align: start;
                       }
                }
    
                h4{
                    color: white;
                    font-weight: 400;
                    margin-bottom: 2rem;
                }
    
                .details{
                    width: 75%;

                    @media (max-width: 600px) {
                        width: 100%;
                       }
    
                    p{
                        color: white;
                        font-weight: 100;
                        font-size: 1rem;
                    }

                    .mobileImg{
                        display: none;
                        margin-top: 3rem;
                        margin-bottom: 5rem;

                        @media (max-width: 600px) {
                            position: relative;
                            display: inline-block;
                           }

                           img{
                            border-radius: 1rem;
                            box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.4);
                            max-width:100%;
                            height: auto;
                            display: block;
                           }

                           
                    }
    
                    .role{
                        margin-top: 10rem;


                        @media (max-width: 600px) {
                            margin-top: 0;
                           }
    
                        p{
                            font-weight: 300;
                        }
                    }

                    .buttons{
                        display: flex;
                        flex-direction: row;
                        gap: 1rem;

                        @media (max-width: 600px) {
                            flex-direction: column;
                           }
                        

                        btn{
                            @media (max-width: 600px) {
                                width: 100%;
                               }
                        }
                    }
                }
            }
        }

        .imageSection{

            @media (max-width: 600px) {
                display: none;
               }

            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          
                img{
                    border-radius: 1rem;
                    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.4);
                    max-width: 70%;
                    height: auto;
                }
           
        }
    }
    .viewMoreWrapper{
        width: 50%;
        display: flex;
        justify-content: center;

        @media (max-width: 600px) {
            width: 100%;
            align-items: center;
           }
       

        .viewMore{

            @media (max-width: 600px) {
                width: 80%;
                margin-top: -5rem;
                margin-bottom: 5rem;
           }
            
        }
    }

   
  }

.horizontalline {
    border-bottom: 1px solid #ffffff; 
    margin: 20px 0;
  }

  .verticalline {
    border-left: 1px solid rgb(255, 255, 255); /* Change color and width as needed */
    height: 100%; /* Change height as needed */
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  
